
@media (min-width: 400px) and (max-width: 576px) {
  .prev_supplements{
  left: -10px;
  top: 75%;
  transform: translate(-10px, -380px);
  position: absolute;
}
.next_supplements{
  right: -10px;
  top: 75%;
  transform: translate(10px, -380px);
  position: absolute;
}

}

@media (min-width: 577px) and (max-width: 992px) {
  .prev_supplements{
  left: -30px;
  top: 75%;
  transform: translate(-10px, -230px);
  position: absolute;
}
.next_supplements{
  right: -30px;
  top: 75%;
  transform: translate(10px, -230px);
  position: absolute;
}

}


@media (min-width: 993px) and (max-width: 1200px) {
  .prev_supplements{
  left: -50px;
  top: 75%;
  transform: translate(-10px, -230px);
  position: absolute;
}
.next_supplements{
  right: -50px;
  top: 75%;
  transform: translate(10px, -230px);
  position: absolute;
}
}


@media (min-width: 1201px) {
  .prev_supplements{
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  justify-content: center;
}
.next_supplements{
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
}
